* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: hsl(243deg, 87%, 12%);
  padding: 30px 0;
  width: 100%;
  margin: 0 auto;
}

p {
  text-align: center;
  color: hsl(243deg, 87%, 12%);
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  color: white;
}

header {
  font-family: "Raleway", sans-serif;
  padding-top: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}
header nav {
  background-color: rgb(255, 255, 255);
  margin-top: -21px;
  padding-top: 21px;
}
header nav .navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
header nav .navContainer div img {
  width: 80px;
}
header nav .navContainer ul {
  display: flex;
  justify-content: space-evenly;
}
header nav .navContainer ul li {
  color: hsl(238deg, 22%, 44%);
  font-size: 0.86rem;
  padding-left: 1rem;
}

.section1 .motherContainer {
  padding-top: 120px;
}
.section1 .motherContainer div {
  width: 85%;
  margin: 0 auto;
}
.section1 .motherContainer div img {
  width: 100%;
}
.section1 .motherContainer div .section1_content div {
  width: 100%;
  margin: 0 auto;
}
.section1 .motherContainer div input {
  width: 100%;
  padding: 0.5rem;
}
.section1 .motherContainer div input::-moz-placeholder {
  color: hsl(0deg, 0%, 85%);
}
.section1 .motherContainer div input:-ms-input-placeholder {
  color: hsl(0deg, 0%, 85%);
}
.section1 .motherContainer div input::placeholder {
  color: hsl(0deg, 0%, 85%);
}
.section1 .motherContainer div button {
  width: 100%;
  padding: 0.6rem;
  margin-top: 1rem;
  border: none;
  background-color: hsl(224deg, 93%, 58%);
  color: white;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section2 {
  background-image: url(/images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 115px;
}
@media (min-width: 768px) {
  .section2 {
    background-image: url(/images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 89px;
  }
}
.section2 .motherContainer2 {
  padding-top: 10rem;
}
.section2 .motherContainer2 .bg {
  background-color: hsla(240deg, 80%, 98%, 0.8);
  width: 100%;
  padding-bottom: 4rem;
}
.section2 .motherContainer2 div {
  width: 85%;
  margin: 0 auto;
}
.section2 .motherContainer2 div div {
  padding-top: 50px;
}
.section2 .motherContainer2 div div .illustration {
  width: 100%;
}
.section2 .motherContainer2 div div h1 {
  font-size: 1.1rem;
}
.section2 .motherContainer2 div div p {
  text-align: start;
}
.section2 .motherContainer2 div div .see_how {
  text-align: center;
}
.section2 .motherContainer2 div div .see_how a {
  color: hsl(170deg, 45%, 43%);
  text-underline-offset: 10px;
}
.section2 .motherContainer2 div div .see_how span {
  position: relative;
  top: 8px;
}
.section2 .motherContainer2 div div .see_how img {
  width: 30px;
  padding: 4px;
}

.card_bg {
  background-color: hsla(240deg, 80%, 98%, 0.8);
  padding-bottom: 5rem;
}

.card {
  border: 1px solid white;
  padding: 2vh 3vw;
  width: 85%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card p, .card small {
  text-align: start;
  font-size: 14px;
  color: rgb(158, 156, 156);
  font-family: "Open Sans", sans-serif;
}
.card .user {
  display: flex;
  align-items: center;
  gap: 12px;
}
.card .user h4 {
  font-family: "Open Sans", sans-serif;
}
.card .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.section3 {
  background-color: hsl(238deg, 22%, 44%);
}/*# sourceMappingURL=style.css.map */