footer{
    background-color: $bg_VeryDarkBlue;  
    .fylo_footer{
        width: 80%;
        margin: 0 auto;
        padding-top: 50px;
    }   
    .list_container{
        width: 80%;
        margin: 0 auto;
        ul{
            padding-top: 30px;
        }
        .img_phone{
            padding-top: 20px;
            color: white;
            font-family: $openSans;
            cursor: pointer;
            :hover{
                color: hsl(238, 22%, 44%);
            }
            span{
                padding-inline: 15px;
            }
        }
        .about li{
            padding-top: 10px;
            color: white;
            font-family: $openSans;
            cursor: pointer;
        }
        .about span:hover{
            color: hsl(238, 22%, 44%);
        }
    }
}

@media (min-width: 768px) {
    .fylo_footer{
        text-align: center;
    }
    .list_container{
        display: flex;
        justify-content: space-between;
    }
}
