header{
    font-family: $raleWay;
    padding-top: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    
    nav{
        background-color: rgb(255, 255, 255);
        margin-top: -21px;
        padding-top: 21px;
        .navContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin: 0 auto;
            
            div{
                img{
                    width: 80px;
                }
            }
            ul{
                display: flex;
                justify-content: space-evenly;
                // column-gap: 24px;
                // width: 90%;
                li{
                    color: $bg_DesaturatedBlue;
                    font-size: 0.86rem;
                    padding-left: 1rem;
                    cursor: pointer;
                    // .nav_item{
                    //     color: $text_VeryDarkBlue;
                    // }
                }
            }
        }
    }
}