.section1{
    // background-image: url(/images/bg-curve-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 53.2rem;
    .motherContainer{
        padding-top: 50px;
        div{
            width: 85%;
            margin: 0 auto;
            img{
                width: 100%;
            }
            .section1_content div{
                width: 100%;
                margin: 0 auto;
            }
            input{
                border: 1px solid black;
                border-radius: 2px;
                width: 100%;
                padding: 0.5rem;
            }
            input::placeholder{
                color: hsl(0, 0%, 85%);
            }
            button{
                width: 100%;
                padding: 0.6rem;
                margin-top: 1rem;
                border: none;
                background-color: $bg_BrightBlue;
                color: white;
                border-radius: 2px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }
    }
}

.section2{
    // background-image: url(/images/bg-curve-desktop.svg);
    // background-repeat: no-repeat;
    // background-size: 768px;
    // background-position-y: 115px;
   @media (min-width: 768px) {
    background-image: url(/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 83px;
    .bg_desktop{
        display: none;
    }
   }
    // background-position: center;
    .Container2{
        // margin-top: 10rem;
        padding-top: 10rem;
        .bg{
            background-color: $text_LightGrayishBlue;   
            width: 100%;  
            padding-bottom: 4rem;       
        }
        div{
            // background-color: $text_LightGrayishBlue;
            width: 90%;
            margin: 0 auto;
            div{
                padding-top: 8px;
                // margin: 0;
                .illustration{
                    width: 100%;
                }
            }
            div{
                h1{
                    font-size: 1.1rem;
                }
                p{
                    text-align: start;
                }
                .see_how{
                    text-align: center;
                    a{
                        // text-align: center;
                        color: $text_ModerateCyan;
                        text-underline-offset: 10px;
                    }
                    span{
                        position: relative;
                        top: 8px;
                    }
                    img{
                        width: 30px;
                        padding: 4px;
                    }
                }
                
            }
        }
    }
}

.card_bg{
    // background-color: $text_LightGrayishBlue;
    padding-bottom: 5rem;
}
.card{
    background-color: white;
    border: 1px solid #ffffffff;
    padding: 2vh 3vw;
    width: 85%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    p, small{
        text-align: start;
        font-size: 14px;
        color: rgb(158, 156, 156);
        font-family: $openSans;
    }
    .user{
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 1px;
        h4{
            font-family: $openSans;
        }
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
}

.section3{
    background-color: $bg_DesaturatedBlue;
    padding-bottom: 4.3rem;
    .Container3{
        .h2_p{
            width: 100%;
            // max-width: 500px;
            h2{
                width: 80%;
                margin: 0 auto;
                font-size: 1.6rem; 
            }
            p{
                width: 80%;
                margin: 0 auto;
                color: white;
                padding-top: 30px;
                // text-align: center;
            }
        }
        .form{
            form{
                width: 80%;
                    margin: 0 auto;
                    text-align: center;
                input{
                    padding: 0.6rem;
                    width: 90%;
                }
                ::placeholder{
                    color: hsl(0, 0%, 85%);
                }
                .getstarted_btn{
                width: 90%;
                padding: 0.6rem;
                margin-top: 1rem;
                border: none;
                background-color: $bg_BrightBlue;
                color: white;
                border-radius: 2px;
                cursor: pointer;
            } 
               
            }
        }
    }
}

