.section1{
    .motherContainer{
        margin-top: 100px;
        div{
            width: 85%;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }
    }
}