.section1{
    .motherContainer{
        padding-top: 120px;
        div{
            width: 85%;
            margin: 0 auto;
            img{
                width: 100%;
            }
            .section1_content div{
                width: 100%;
                margin: 0 auto;
            }
            input{
                width: 100%;
                padding: 0.5rem;
            }
            input::placeholder{
                color: hsl(0, 0%, 85%);
            }
            button{
                width: 100%;
                padding: 0.6rem;
                margin-top: 1rem;
                border: none;
                background-color: $bg_BrightBlue;
                color: white;
                border-radius: 2px;
                box-shadow: 0px 0px 14px 6px rgb(227, 224, 224);
            }
        }
    }
}

.section2{
    background-image: url(/images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 115px;
   @media (min-width: 768px) {
    background-image: url(/images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 89px;
   }
    // background-position: center;
    .motherContainer2{
        // margin-top: 10rem;
        padding-top: 10rem;
        .bg{
            background-color: $text_LightGrayishBlue;   
            width: 100%;         
        }
        div{
            // background-color: $text_LightGrayishBlue;
            width: 85%;
            margin: 0 auto;
            div{
                padding-top: 50px;
                img{
                    width: 100%;
                }
            }
            div{
                h1{
                    font-size: 1.1rem;
                }
                p{
                    text-align: start;
                }
                .see_how{
                    text-align: center;
                    a{
                        // text-align: center;
                        color: $text_ModerateCyan;
                        text-underline-offset: 10px;
                    }
                    span{
                        position: relative;
                        top: 8px;
                    }
                    img{
                        width: 30px;
                        padding: 4px;
                    }
                }
                div{
                    background-color: white;
                    border-radius: 4px; 
                    box-shadow: 0px 0px 9px 4px grey;
                    img{
                        width: 20px;
                        // transform: translateY(-20px);
                        // transform: translateX(39px);
                    }
                    p{
                        width: 80%;
                        margin: 0 auto;
                        font-size: 0.9rem;
                        font-weight: 500;
                        line-height: 1.8;
                        text-align: start;
                    }
                    .avatar_kyle{
                        display: grid;
                        
                    }
                    .avatar{
                        border-radius: 50%;
                        width: 30px;
                        // transform: translateY(-20px);
                        // transform: translateX(px);
                    }
                    }
                }
            }
        }
    }
