// Text color
$text_VeryDarkBlue: hsl(243, 87%, 12%);
$text_ModerateCyan: hsl(170, 45%, 43%);
$text_LightGray: hsl(0, 0%, 75%);
// placeholder text color
$text_LightGrayishBlue: hsla(240, 80%, 98%, 80%);



// text fonts
$openSans: 'Open Sans', sans-serif;
$raleWay: 'Raleway', sans-serif;


// background color
$bg_DesaturatedBlue: hsl(238, 22%, 44%);
$bg_BrightBlue: hsl(224, 93%, 58%);
$bg_VeryDarkBlue: hsl(243, 87%, 12%);